<form id="logout" method="POST">
    <input id="logout_button" type="submit" value="Log out!">
</form>

<div id="twotter_feed">

</div>

<div id="sidebar">

</div>

<script type="text/javascript" src="javascripts/home.js"></script>
